:root {
  --main-text-color: #e4e4e4;
  --main-bg-color: #1e1e1e;
  --main-accent-color: #ffdd33;
  --marker-color: #ffdd33;
  --main-link-color: #96a6c8;
  --alt-bg-color: #282828;

  --apple-red: #ff383c;
  --apple-orange: #ff8d28;
  --apple-yellow: #ffcc00;
  --apple-green: #34c759;
  --apple-mint: #00c8b3;
  --apple-teal: #00c3d0;
  --apple-cyan: #00c0e8;
  --apple-blue: #0088ff;
  --apple-indigo: #6155f5;
  --apple-purple: #cb30e0;
  --apple-pink: #ff2d55;
  --apple-brown: #ac7f5e;

  --gruber-darker-fg: #e4e4ef;
  --gruber-darker-fgp1: #f4f4ff;
  --gruber-darker-fgp2: #f5f5f5;
  --gruber-darker-white: #ffffff;
  --gruber-darker-black: #000000;

  --gruber-darker-bg-1: #101010;
  --gruber-darker-bg: #181818;
  --gruber-darker-bgp1: #282828;
  --gruber-darker-bgp2: #453d41;
  --gruber-darker-bgp3: #484848;
  --gruber-darker-bgp4: #52494e;

  --gruber-darker-red-1: #c73c3f;
  --gruber-darker-red: #f43841;
  --gruber-darker-redp1: #ff4f58;

  --gruber-darker-green: #73c936;
  --gruber-darker-yellow: #ffdd33;
  --gruber-darker-brown: #cc8c3c;

  --gruber-darker-quartz: #95a99f;

  --gruber-darker-niagara-2: #303540;
  --gruber-darker-niagara-1: #565f73;
  --gruber-darker-niagara: #96a6c8;

  --gruber-darker-wisteria: #9e95c7;
}

html {
  overflow-x: hidden;
}

body {
  font-family: Iosevka Custom Web;
  font-weight: 400;
  background-color: var(--main-bg-color);
  font-size: 1rem;
  color: var(--main-text-color);
  overflow-x: hidden;
  /* padding: 0 16px 0 16px; */
}

button {
  font-family: Iosevka Custom Web;
  font-size: 1rem;
  font-weight: 400;
  color: var(--main-text-color);
  /* text-transform: uppercase; */
  padding: 0.5em 1em;
  border-radius: 10px;
  border: 2px solid var(--main-text-color);
  background: #282828;
  box-shadow: 3px 3px var(--main-text-color);
  cursor: pointer;
}

button:active {
  box-shadow: none;
  transform: translate(3px, 3px);
}

a {
  color: var(--main-link-color);
  text-decoration: none;
}

#tasks {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-inline: auto;
  width: 25rem;
}

#time-total {
  opacity: 0.5;
}

.bigwrap {
  display: flex;
  justify-content: space-between;
  margin-inline: 1rem;
}

.wrapper {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.timer-info {
  padding: 2rem;
  background-color: var(--gruber-darker-bgp1);
}

.timer-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0rem;
  line-height: 1.2;
}

.timer-info__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  margin-inline: auto;
  padding-inline: 1rem;
  /* min-width: 30rem; */
  width: 25rem;
  gap: 3rem;
}

#focus {
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
}

#timer {
  margin: 0;
  font-size: 2rem;
  font-weight: bold;
}

#timer-cntrl {
  font-weight: 100;
  /* font-size: 0.75rem; */
}

p {
  font-size: 1rem;
  align-self: center;
}

.play {
  width: 2rem;
  height: 2rem;
}

.play1 {
  fill: var(--apple-green);
}

.play2 {
  fill: var(--main-bg-color);
}

a:hover {
  color: #4d6392;
}

hr {
  border: none;
  width: 100%;
  height: 1px;
  background: repeating-linear-gradient(
    to right,
    var(--main-text-color) 0 8px,
    transparent 8px 14px
  );
  margin: 1rem 0;
}

.hello::before {
  content: "";
  width: var(--size);
  height: var(--size);
  display: block;
  position: absolute;
  border-radius: var(--size);
  background: linear-gradient(
    to right,
    var(--gruber-darker-yellow) 50%,
    var(--main-bg-color) 50%
  );
}

.hello {
  --rotation: 0deg;
  --bg-color: var(--gruber-darker-yellow);
  --fg-color: var(--main-bg-color);
  --cntrl-color: var(--bg-color);
  position: relative;
  width: var(--size);
  height: var(--size);
}

.hello::after {
  content: "";
  width: calc(var(--size) / 2);
  height: var(--size);
  left: calc(var(--size) / 2);
  transform-origin: 0px calc(var(--size) / 2);
  transform: rotate(var(--rotation));
  position: absolute;
  display: block;
  background: var(--cntrl-color);
  border-top-right-radius: calc(var(--size) / 2);
  border-bottom-right-radius: calc(var(--size) / 2);
}
