:root {
  --main-text-color: #e4e4e4;
  --main-bg-color: #1e1e1e;
  --main-accent-color: #ffdd33;
  --marker-color: #ffdd33;
  --main-link-color: #96a6c8;
  --alt-bg-color: #282828;

  --apple-red: #ff383c;
  --apple-orange: #ff8d28;
  --apple-yellow: #ffcc00;
  --apple-green: #34c759;
  --apple-mint: #00c8b3;
  --apple-teal: #00c3d0;
  --apple-cyan: #00c0e8;
  --apple-blue: #0088ff;
  --apple-indigo: #6155f5;
  --apple-purple: #cb30e0;
  --apple-pink: #ff2d55;
  --apple-brown: #ac7f5e;

  --gruber-darker-fg: #e4e4ef;
  --gruber-darker-fgp1: #f4f4ff;
  --gruber-darker-fgp2: #f5f5f5;
  --gruber-darker-white: #ffffff;
  --gruber-darker-black: #000000;

  --gruber-darker-bg-1: #101010;
  --gruber-darker-bg: #181818;
  --gruber-darker-bgp1: #282828;
  --gruber-darker-bgp2: #453d41;
  --gruber-darker-bgp3: #484848;
  --gruber-darker-bgp4: #52494e;

  --gruber-darker-red-1: #c73c3f;
  --gruber-darker-red: #f43841;
  --gruber-darker-redp1: #ff4f58;

  --gruber-darker-green: #73c936;
  --gruber-darker-yellow: #ffdd33;
  --gruber-darker-brown: #cc8c3c;

  --gruber-darker-quartz: #95a99f;

  --gruber-darker-niagara-2: #303540;
  --gruber-darker-niagara-1: #565f73;
  --gruber-darker-niagara: #96a6c8;

  --gruber-darker-wisteria: #9e95c7;
}

html {
  overflow-x: hidden;
}

.deactive {
  display: none;
}

dialog {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}

body {
  font-family: Iosevka Custom Web, serif;
  font-weight: 400;
  background-color: var(--main-bg-color);
  font-size: 1rem;
  color: var(--main-text-color);
  overflow-x: hidden;
  /* padding: 0 16px 0 16px; */
}

.edit-pomo-heading-text {
  flex-grow: 1;
  text-align: center;
}

.button1 {
  font-family: Iosevka Custom Web, serif;
  font-size: 1rem;
  font-weight: 400;
  color: var(--main-text-color);
  padding: 0.5em 1em;
  border-radius: 10px;
  border: 2px solid var(--main-text-color);
  background: #282828;
  box-shadow: 3px 3px var(--main-text-color);
  cursor: pointer;
}

.button1:active {
  box-shadow: none;
  transform: translate(3px, 3px);
}

.button1:hover {
  opacity: 0.8;
}

#edit-tasks-btn {
  display: flex;
  gap: 1rem;
  margin-inline: 1rem;
  padding: 0.5rem 1rem 0.5rem 0.5rem;
  background-color: var(--gruber-darker-bgp1);
  width: fit-content;
  border-radius: 1rem;
  user-select: none;
}

.edit-tasks-section__wrapper {
  padding-block: 1rem;
  background-color: var(--gruber-darker-bgp1);
}

#edit-tasks__back-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.edit-tasks__heading {
  display: flex;
  width: 25rem;
  margin-inline: auto;
}

.edit-tasks__heading-text {
  display: flex;
  align-items: center;
  margin-inline: auto;
  height: fit-content;
  font-size: 1.2rem;
}

a {
  color: var(--main-link-color);
  text-decoration: none;
}

.edit-pomo-heading {
  padding: 1rem;
  display: flex;
  background-color: var(--gruber-darker-bgp1);
}

.timer-settings {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#tasks {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-inline: auto;
  width: 25rem;
}

#task-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-inline: auto;
  width: 25rem;
}

#time-total {
  opacity: 0.5;
}

.opacious {
  opacity: 0.5;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  margin-inline: 1rem;
}

.wrapper {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.timer-settings > * {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
}

.timer-info {
  padding: 2rem;
  background-color: var(--gruber-darker-bgp1);
}

dialog {
  padding: 0;
  margin-inline: auto;
  margin-top: 5rem;
}

input {
  background-color: var(--gruber-darker-bgp1);
  color: var(--main-text-color);
}

.timer-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
  line-height: 1.2;
}

.timer-info__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  margin-inline: auto;
  padding-inline: 1rem;
  width: 25rem;
}

#focus {
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
}

#timer {
  position: relative;
}

#timer.positive::before {
  content: "+";
  position: absolute;
  right: 100%;
}

#timer-cntrl {
  font-weight: 100;
  /* font-size: 0.75rem; */
}

p {
  font-size: 1rem;
  align-self: center;
}

.hoverfx:hover {
  opacity: 0.8;
  cursor: pointer;
}

.non-clickable {
  pointer-events: none;
}

.play,
.pause {
  width: 2rem;
  height: 2rem;
}

.play1 {
  fill: var(--apple-green);
}

.bg-fill {
  fill: var(--main-bg-color);
}

a:hover {
  color: #4d6392;
}

hr {
  border: none;
  width: 100%;
  height: 1px;
  background: repeating-linear-gradient(
    to right,
    var(--main-text-color) 0 8px,
    transparent 8px 14px
  );
  margin: 1rem 0;
}

#circle-timer {
  /* Defaults */
  --pomo-wheel-color: var(--gruber-darker-yellow);
  --break-wheel-color: var(--gruber-darker-niagara);
  --wheel-bg-color: var(--main-bg-color);

  /* Current */
  --fg-color: var(--pomo-wheel-color);
  --bg-color: var(--main-bg-color);
  --progress: 0deg;

  border-radius: var(--size);
  width: var(--size);
  height: var(--size);

  background: conic-gradient(
    var(--bg-color) 0deg var(--progress),
    var(--fg-color) var(--progress) 360deg
  );

  position: relative;
}
